<div data-ng-controller="orgController" data-ng-init="getAll()">
	
  <h4> CASES NEEDING YOUR HELP </h4>
  <table class="table table-striped pagination" >

       <tr>
         <th> No. </th>
         <th> Applicant Details </th>
         <th> Education Details</th>
         <th> Amount</th>
         <th> View Documents</th>
       </tr>

      <!-- <tr data-ng-repeat="org in organizations" >
         <td> {{$index+1}} </td>
         <td> {{org.org_name}}</td>
         <td><span data-ng-click="remove(blog)"></span></td>
        
       </tr>  -->
     </table> 	
</div>